/* https://github.com/jdan/98.css/blob/main/style.css */
@font-face {
    font-family: "Pixelated MS Sans Serif";
    src: url("fonts/ms_sans_serif.woff") format("woff");
    src: url("fonts/ms_sans_serif.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Pixelated MS Sans Serif";
    src: url("fonts/ms_sans_serif_bold.woff") format("woff");
    src: url("fonts/ms_sans_serif_bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
}

/* https://github.com/googlefonts/noto-emoji */
@font-face {
    font-family: "Noto Color Emoji";
    src: url("fonts/NotoColorEmoji.ttf");
    font-style: normal;
}

body,
html {
    font-size: 14px;
    -webkit-font-smoothing: none;
    --light-grey: #ccc;
    --grey: #bababa;
    --light-blue: #62b3f1;
}

body, html, button {
    font-family: "Pixelated MS Sans Serif", Arial, sans-serif;
}

.spacer {
    flex: 1;
    min-width: 4rem;
}

.hidden {
    visibility: hidden;
}

.emoji {
    font-family:Apple Color Emoji,Segoe UI Emoji,Noto Color Emoji,Android Emoji,EmojiSymbols,EmojiOne Mozilla,Twemoji Mozilla,Segoe UI Symbol,Noto Color Emoji Compat,emoji;
}

.window {
    display: block;
    position: absolute;
    border: 2px outset var(--light-grey);
    background-color: var(--grey);
}

.window-header {
    display: flex;
    height: 1.35rem;
    padding: 0.25rem;
    align-items: flex-end;
    cursor: pointer;
    background-image: linear-gradient(to right, #010081, var(--light-blue));
}

.window-title {
    color: #fff;
    font-weight: 700;
    margin-left: 0.25rem;
}

.window-content {
    padding: 0.75rem;
    border: 2px inset var(--light-grey);
    /* margin: 2px 1px 1px; */
    background-color: #fff;
    overflow: hidden;
    white-space: nowrap;
}

.window button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.3rem;
    width: 1.3rem;
    margin-left: 0.25rem;
    border-radius: 0;
    font-weight: bold;
    border: 2px outset var(--light-grey);
    background-color: var(--grey);
    cursor: pointer;
}

.window button[disabled] {
    cursor: not-allowed;
}

.window-footer {
    display: flex;
    height: 1.35rem;
    padding-left: 0.25rem;
    background-color: var(--grey);
    border: 2px inset var(--light-grey);
}

.window-footer > * {
    display: flex;
    align-items: flex-end;
}

.footer-left {
    flex: 1;
    border-right: 2px inset var(--light-grey);
}

.footer-right {
    width: 2.5rem;
    flex-shrink: 0;
    border-left: 2px inset var(--light-grey);
}

.weather-week {
    display: flex;
}

.weather-day {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    background-color: var(--light-blue);
    border: 2px outset var(--light-grey);
    color: #fff;
    margin-right: 0.25rem;
    width: 4rem;
}

.weather-day:last-child {
    margin-right: 0;
}

.weather-day>span:nth-child(2) {
    font-size: 0.75rem;
}

.weather-day>span:nth-child(3) {
    font-size: 2rem;
}

.wiggle {
    display: inline-block;
    -webkit-animation: wiggle 0.5s linear infinite;
    -moz-animation: wiggle 0.5s linear infinite;
    animation: wiggle 0.5s linear infinite;
}

#garden .window-content {
    line-height: 1.5rem;
}

#sidewalk {
    width: 205px;
}

#wizard {
    width: 340px;
}

#wizard .window-footer {
    display: none;
}

#wizard .window-content {
    display: flex;
    background-color: var(--grey);
    border: none;
}

.wizard-sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80px;
    font-size: 40px;
    padding: 10px;
    margin-right: 10px;
    flex-shrink: 0;
    border: 2px inset var(--grey);
    background-color: #088484;
}

.wizard-content {
    flex: 1;
    white-space: normal;
    position: relative;
}

.wizard-window {
    border: 2px dashed black;
}

#wizard-demo-1 {
    position: absolute;
    top: 100px;
    right: 20px;
    width: 78px;
    height: 60px;
}

#wizard-demo-2 {
    position: absolute;
    top: 110px;
    left: 0px;
    width: 80px;
    height: 40px;
    font-size: 40px;
    -webkit-animation: slide 2s linear infinite;
    -moz-animation: slide 2s linear infinite;
    animation: slide 2s linear infinite;
}

@-moz-keyframes wiggle {
    10% { -moz-transform: rotate(5deg); }
    30% { -moz-transform: rotate(-10deg); }
    50% { -moz-transform: rotate(10deg); }
    70% { -moz-transform: rotate(-10deg); }
    90% { -moz-transform: rotate(10deg); }
    100% { -moz-transform: rotate(0deg); }
}

@-webkit-keyframes wiggle {
    10% { -webkit-transform: rotate(5deg); }
    30% { -webkit-transform: rotate(-10deg); }
    50% { -webkit-transform: rotate(10deg); }
    70% { -webkit-transform: rotate(-10deg); }
    90% { -webkit-transform: rotate(10deg); }
    100% { -webkit-transform: rotate(0deg); }
}

@keyframes wiggle {
    10% {
        -webkit-transform: rotate(5deg);
        transform: rotate(5deg);
    }
    30% {
        -webkit-transform: rotate(-10deg);
        transform: rotate(-10deg);
    }
    50% {
        -webkit-transform: rotate(10deg);
        transform: rotate(10deg);
    }
    70% {
        -webkit-transform: rotate(-10deg);
        transform: rotate(-10deg);
    }
    90% {
        -webkit-transform: rotate(-10deg);
        transform: rotate(-10deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}


@-moz-keyframes slide {
    50% { -moz-transform: translateX(20px); }
    100% { -moz-transform: translateX(20px); }
}
@-webkit-keyframes slide {
    50% { -webkit-transform: translateX(20px); }
    100% { -webkit-transform: translateX(20px); }
}
@keyframes slide {
    50% {
        -webkit-transform: translateX(20px);
        transform:translateX(20px);
    }
    100% {
        -webkit-transform: translateX(20px);
        transform:translateX(20px);
    }
}
